<!DOCTYPE html>
{% load static %}
<html>
<title>{% block title %} AM Site {% endblock  %}</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <link rel="stylesheet" href="{% static 'DjangoAssetManagement/backup_11-4-2017/style-mess.css' %}"> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'tempsite/style.css' %}">

<link type="text/javascript" src="{% static 'tempsite/drodown.css' %}">

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'icons/manifest.json' %}">
<link rel="mask-icon" href="{% static 'icons/safari-pinned-tab.svg' %} color='#000000' ">
<link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
<meta name="msapplication-config" content="{% static ' icons/browserconfig.xml' %}">
<meta name="theme-color" content="#ffffff">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>

<body>

<!-- Navbar -->
<div class="top">
    <div class="dropdown bar red card-2 left-align large">
        <a class="bar-item button right padding-large hover-white large red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="#" class="bar-item button padding-large white">{{ name }}</a>
        <a href="/" class="bar-item button hide-small padding-large hover-white">Asset Form</a>
        <a href="/all_assets" class="bar-item button hide-small padding-large hover-white">All Assets</a>
        <a href="/all_weeks" class="bar-item button hide-small padding-large hover-white">All Weeks</a>
        <a href="/search-form" class="bar-item button hide-small padding-large hover-white">search</a>
        <a href="/export" class="bar-item button hide-small padding-large hover-white">Export</a>
       <!-- {% if user.is_authenticated %}
            <a href="{% url 'profile' user.username %}" class="bar-item button hide-small hover-white">{{ user.username }}</a>
            <a href ="/Logout" class="bar-item button hide-small hover-white">Logout</a>
        {% else %}
            <a href ="/login" class="bar-item button hide-small padding-large hover-white">Login</a>
        {% endif %}
        -->
    </div>
    <div id="navDemo" class="bar-block white hide large">
        <a href="/" class="bar-item button hide-medium hide-large padding-large hover-white">Asset Form</a>
        <a href="/all_assets" class="bar-item button hide-medium hide-large padding-large hover-white">All Assets</a>
        <a href="/all_weeks" class="bar-item button hide-medium hide-large padding-large hover-white">All Weeks</a>
        <a href="/search-form" class="bar-item button hide-medium hide-large padding-large hover-white">search</a>
        <a href="/export" class="bar-item button hide-medium hide-large padding-large hover-white">Export</a>
        <a href="/" class="bar-item button hide-medium hide-large padding-large hover-white">Asset Form</a>
        {% if user.is_authenticated %}
        <a href="{% url 'profile' user.username %}" class="bar-item button padding-large">{{ user.username }}</a>
        <a href ="/Logout" class="bar-item button padding-large">Logout</a>
        {% else %}
        <a href ="/login" class="bar-item button padding-large">Login</a>
        {% endif %}
    </div>
</div>

<!-- Header -->
<header class="container red center" style="padding:64px 8px">
{% block header %}
{% endblock  %}
</header>

<!-- First Grid -->

<div class="row-padding padding-64 container">
  <div class="content">
   {% block firstgrid %} 
   {% endblock  %}
  </div>
</div>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
<!--
function myFunction() {
var x = document.getElementById("navDemo");
    if (x.className.indexOf("show") == -1) {
        x.className += " show";
        console.log(x.className);
    } else {
        x.className = x.className.replace(" show", "");
        console.log(x.className);
    }
}
-->
</script>
</body>
</html>