{% extends "DjangoAssetManagement/block.html" %}
{% block title %} {{ page_name }} {% endblock  %}

<!-- Header -->

{% block header %}
    <h1 class="w3-margin">
    </h1>
{% endblock  %}

{% block firstgrid %}
    <table style="width:100%">
        <tr>
            <th>Asset Building</th>
            <th>Asset Name</th>
            <th>Asset Room</th>
            <th>Asset Update Date</th>
        </tr>
        {% for asset in assets %}
            <tr>
                <th>{{ asset.location }}	</th>
                <th>{{ asset.name }}	</th>
                <th>{{ asset.room }}	</th>
                <th>{{ asset.pub_date }}</th>
            </tr>
        {% endfor %}
    </table>
{% endblock  %}