{% extends "DjangoAssetManagement/block.html" %}
{% block title %} {{ page_name }} {% endblock  %}

<!-- Header -->
{% block header %}
  <h1 class="w3-margin w3-jumbo">
	Number Of Room Changes {{ numLocations }}
</h1>
  <p class="w3-xlarge">Number Of Assets {{ number_of_assets }}</p>
{% endblock  %}

<!-- First Grid -->
{% block firstgrid %} 
    <div class="w3-twothird">
      <h1></h1>
      <h5 class="w3-padding-32">
	  <p><a  href="/export_week/{{ select_week }}"> Export {{ name }} </a></p>
      </h5>

      <p class="w3-text-grey">
	<table style="width:100%">
	     <tr>
		<th>Asset Building</th>
		<th>Asset Name</th>
		<th>Asset Room</th>
		<th>Asset Update Date</th>
	     </tr>
	{% for asset in assets %}
	     <tr>
		<th>{{ asset.location }}	</th>
		<th>{{ asset.name }}	</th>
		<th>{{ asset.room }}	</th>
		<th>{{ asset.pub_date }}</th>
	     </tr>
	  
	{% endfor %}
	</table>
      </p>
    </div>
    <div class="w3-third w3-center">
{% endblock  %}

